In [12]:
import requests
import jsonify
import pandas as pd
import numpy as np

market = 'BTCUSDT'
tick_interval = '1h'
startTime = 1502942400000
startTime_2 = 1612137600000         # 1 Februari 2021
startTime_3 = 1577836800000         # 1 Januari 2020
endTime = 1648789200000             # 1 April 2022
appended_data = []
df = pd.DataFrame()
while startTime_3<endTime:
    url = 'https://api.binance.me/api/v3/klines?symbol='+market+'&interval='+tick_interval+'&limit=1000'+'&startTime='+str(startTime_3)+'&endTime='+str(endTime)
    data = requests.get(url).json()
    df = pd.concat([df, pd.DataFrame(data)])
    startTime_3 = data[-1][0] + 3600000

In [13]:
df[0].is_unique

True

In [14]:
df.reset_index(drop=True, inplace=True)

In [15]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,1577836800000,7195.24000000,7196.25000000,7175.46000000,7177.02000000,511.81490100,1577840399999,3675856.57948543,7640,226.15312600,1624289.18965037,0
1,1577840400000,7176.47000000,7230.00000000,7175.71000000,7216.27000000,883.05260300,1577843999999,6365952.54111276,9033,570.72141900,4114804.04969093,0
2,1577844000000,7215.52000000,7244.87000000,7211.41000000,7242.85000000,655.15680900,1577847599999,4736719.38819138,7466,357.18026300,2582513.82508776,0
3,1577847600000,7242.66000000,7245.00000000,7220.00000000,7225.01000000,783.72486700,1577851199999,5667367.29300603,8337,394.81081100,2854987.35529137,0
4,1577851200000,7225.00000000,7230.00000000,7215.03000000,7217.27000000,467.81257800,1577854799999,3379093.84979077,5896,243.51470600,1759053.44836794,0
...,...,...,...,...,...,...,...,...,...,...,...,...
19675,1648774800000,45542.16000000,45542.17000000,44868.00000000,44923.77000000,4127.99675000,1648778399999,186365597.08843290,76504,1892.75020000,85445203.53523660,0
19676,1648778400000,44923.77000000,45049.03000000,44200.00000000,44392.71000000,5752.16535000,1648781999999,256708976.05610860,108602,2428.04740000,108410905.37738280,0
19677,1648782000000,44392.71000000,44599.99000000,44273.44000000,44599.98000000,2692.58541000,1648785599999,119680879.01506450,60370,1445.07602000,64230409.86632710,0
19678,1648785600000,44599.98000000,44780.01000000,44547.11000000,44642.44000000,1723.22376000,1648789199999,76979363.54545760,47181,892.21570000,39858911.62263320,0
19679,1648789200000,44642.44000000,44789.99000000,44583.23000000,44646.16000000,1456.34706000,1648792799999,65073274.73490560,38119,753.83435000,33682362.21035760,0

In [16]:
df.to_csv('historical_prices/'+market+'_'+tick_interval+'_2020_2022.csv')

In [18]:
# import requests
# import jsonify
# import pandas as pd
# import numpy as np

# market = 'BTCUSDT'
# tick_interval = '1h'
# startTime = 1502942400000
# endTime = 1648681200000
# appended_data = []
# dfdup = pd.DataFrame()
# while startTime<endTime:
#     url = 'https://api.binance.me/api/v3/klines?symbol='+market+'&interval='+tick_interval+'&limit=1000'+'&startTime='+str(startTime)+'&endTime='+str(endTime)
#     data = requests.get(url).json()
#     dfdup = pd.concat([df, pd.DataFrame(data)])
#     startTime = data[-1][0]

In [19]:
url = 'https://api.binance.me/api/v3/klines?symbol='+market+'&interval='+tick_interval+'&limit=2'
data = requests.get(url).json()
data

[[1648789200000,
  '44642.44000000',
  '44789.99000000',
  '44583.23000000',
  '44646.16000000',
  '1456.34706000',
  1648792799999,
  '65073274.73490560',
  38119,
  '753.83435000',
  '33682362.21035760',
  '0'],
 [1648792800000,
  '44646.15000000',
  '44848.44000000',
  '44567.94000000',
  '44813.93000000',
  '1267.14958000',
  1648796399999,
  '56673782.86542240',
  37255,
  '678.72691000',
  '30359486.07730340',
  '0']]

In [4]:
import requests
import jsonify
import pandas as pd
import numpy as np

market = 'BTCUSDT'
tick_interval = '1d'
startTime = 1502928000000           # 17 Agustus 2017
endTime = 1648789200000             # 1 April 2022
appended_data = []
df = pd.DataFrame()
while startTime<endTime:
    url = 'https://api.binance.me/api/v3/klines?symbol='+market+'&interval='+tick_interval+'&limit=1000'+'&startTime='+str(startTime)+'&endTime='+str(endTime)
    data = requests.get(url).json()
    df = pd.concat([df, pd.DataFrame(data)])
    startTime = data[-1][0] + 86400000

In [21]:
df[0].is_unique

True

In [22]:
df.reset_index(drop=True, inplace=True)

In [23]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,1502928000000,4261.48000000,4485.39000000,4200.74000000,4285.08000000,795.15037700,1503014399999,3454770.05073206,3427,616.24854100,2678216.40060401,8733.91139481
1,1503014400000,4285.08000000,4371.52000000,3938.77000000,4108.37000000,1199.88826400,1503100799999,5086958.30617151,5233,972.86871000,4129123.31651808,9384.14140858
2,1503100800000,4108.37000000,4184.69000000,3850.00000000,4139.98000000,381.30976300,1503187199999,1549483.73542151,2153,274.33604200,1118001.87008735,9184.08552906
3,1503187200000,4120.98000000,4211.08000000,4032.62000000,4086.29000000,467.08302200,1503273599999,1930364.39032646,2321,376.79594700,1557401.33373730,10125.41408414
4,1503273600000,4069.13000000,4119.62000000,3911.79000000,4016.00000000,691.74306000,1503359999999,2797231.71402728,3972,557.35610700,2255662.55315837,11706.76997007
...,...,...,...,...,...,...,...,...,...,...,...,...
1684,1648425600000,46827.76000000,48189.84000000,46663.56000000,47122.21000000,58949.26140000,1648511999999,2789898402.61657610,1498975,29097.75719000,1377280753.97272760,0
1685,1648512000000,47122.21000000,48096.47000000,46950.85000000,47434.80000000,36772.28457000,1648598399999,1748600385.45023520,1095678,18192.37420000,865179145.17564560,0
1686,1648598400000,47434.79000000,47700.22000000,46445.42000000,47067.99000000,40947.20850000,1648684799999,1932152559.88311230,1081607,20896.43399000,985946938.56827850,0
1687,1648684800000,47067.99000000,47600.00000000,45200.00000000,45510.34000000,48645.12667000,1648771199999,2262485160.56858420,1290541,22879.47328000,1064278670.64261090,0
1688,1648771200000,45510.35000000,45644.86000000,44200.00000000,44813.93000000,18857.66862000,1648857599999,845194191.95644370,419823,9031.07890000,404814547.38660830,0

In [24]:
df.to_csv('historical_prices/'+market+'_'+tick_interval+'_2017_2022.csv')

In [25]:
# dfdup.drop_duplicates(subset=0, keep='first', inplace=True)
# dfdup.reset_index(drop=True, inplace=True)
# df.reset_index(drop=True, inplace=True)
# for i, v in enumerate(dfdup.itertuples()):
#     if dfdup.iloc[i,0] != df.iloc[i,0]:
#         print('false')